<?php return array(
    'global' => array(
        'resource' => array(
            'database' => array(
                'default' => array(
                    'engine' => 'mysql',
                    'options' => array(
                        ),
                    'params' => array(
                         'hostname' => 'localhost',
                         'username' => 'root',
                         'password' => '',
                         'database' => 'db_wootook'
                         ),
                    'table_prefix' => 'wtk_',
                     ),
                 ),
             ),
         ),
    'backend' => array(
        'web' => array(
            'url' => array(
                'base' => 'http://testing.wootook.org/',
                'skin' => 'http://testing.wootook.org/skin/',
                'js'   => 'http://testing.wootook.org/js/',
                'css'  => 'http://testing.wootook.org/css/',
                ),
            'session' => array(
                'time'   => 900,
                'domain' => 'testing.wootook.org',
                'path'   => '/'
                )
            ),
        'system' => array(
            'path' => array(
                'base' => ROOT_PATH,
                'skin' => ROOT_PATH . 'skin' . DIRECTORY_SEPARATOR,
                ),
            'date' => array(
                'timezone' => 'Europe/Paris'
                ),
            ),
        ),
    'frontend' => array(
        'web' => array(
            'url' => array(
                'base' => 'http://testing.wootook.org/',
                'skin' => 'http://testing.wootook.org/skin/',
                'js'   => 'http://testing.wootook.org/js/',
                'css'  => 'http://testing.wootook.org/css/',
                ),
            'session' => array(
                'time'   => 900,
                'domain' => 'testing.wootook.org',
                'path'   => '/'
                )
            ),
        'system' => array(
            'path' => array(
                'base' => ROOT_PATH,
                'skin' => ROOT_PATH . 'skin' . DIRECTORY_SEPARATOR,
                ),
            'date' => array(
                'timezone' => 'Europe/Paris'
                ),
            ),
        'engine' => array(
            'storyline' => array(
                'universe' => 'legacies',
                'episode'  => 'default',
                ),
            'core' => array(
                'use_large_numbers' => true
                ),
            'universe' => array(
                'galaxies'  => 3,
                'systems'   => 100,
                'positions' => 15
                ),
            'combat' => array(
                'allow_spy_drone_attacks' => true
                )
            ),
        )
    );