@CHARSET "UTF-8";

* {font-size:1em;font-family:Arial,Tahoma,sans-serif;text-align:left;}
body {margin:0;font-size:10px;background:#EFEFEF;}
body.public {background:url("../graphics/background.jpg") no-repeat fixed right top;background-color:inherit;background-size:cover;}
h1 {font-size:2.3em;/*border:#6AB 0 solid;border-width:1px 10px;border-radius:20px;text-align:center;color:#58939f;background:#EEE;*/}
/*h1:hover {color:#6AB;background:#CCC;}*/
h2,h3 {text-decoration:underline;font-weight:bold;}
h4,h5,h6 {font-style:italic;}
h2 {font-size:2em;}
h3 {font-size:1.8em;}
h4 {font-size:1.5em;}
h5 {font-size:1.6em;}
h6 {font-size:1em;}

input[type=text],input[type=password] {height:2em;border:#58939f 0 solid;border-width:.1em 1em;}
input[type=submit],input[type=button] {height:2em;border:#58939f 0 solid;border-width:.1em 1em;}

.global {}

.global .header .navigation-container {width:100%;margin:0;height:60px;background-color:#58939f;background-image:linear-gradient(center top, #58939F 0, #78B3BF 55px);background-image:-moz-linear-gradient(center top, #58939F 0, #78B3BF 55px);background-image:-o-linear-gradient(center top, #58939F 0, #78B3BF 55px);background-image:-webkit-linear-gradient(center top, #58939F 0, #78B3BF 55px);background-image:-ie-linear-gradient(center top, #58939F 0, #78B3BF 55px);}
.global .header .navigation {margin:0 auto;width:600px;height:60px;display:block;padding:0 30px;position:relative;}
.global .header .navigation .last {float:left;width:100%;}
.global .header .navigation .navigation-node {margin:0 0 5px;height:30px;width:120px;color:#FFF;float:left;border-radius:15px;}
.global .header .navigation .navigation-node:hover,.global .header .navigation .navigation-node.hover {background:#666;}
.global .header .navigation .navigation-node .title {margin:5px 20px 8px;font-size:1.5em;text-align:center;}
.global .header .navigation .navigation-links {display:none;margin:0;width:600px;float:left;border:none;}
.global .header .navigation .navigation-link {margin:0;float:left;padding:5px 0;color:#FFF;}
.global .header .navigation .navigation-link a {color:#FFF;text-decoration:none;border-radius:10px;padding:2px 10px;}
.global .header .navigation .navigation-link a:hover {color:#000;background:#FFF;}

.global .header .planet-carrousel {width:100%;height:110px;border:none;padding:0;color:#000;font-weight:bold;background:#FFF;}
.global .header .planet-carrousel .end {height:9px;border-bottom:1px solid #000;background-color:#58939F;background-image:linear-gradient(center top, #78B3BF 0, #58939F 5px);background-image:-moz-linear-gradient(center top, #78B3BF 0, #58939F 5px);background-image:-o-linear-gradient(center top, #78B3BF 0, #58939F 5px);background-image:-webkit-linear-gradient(center top, #78B3BF 0, #58939F 5px);background-image:-ie-linear-gradient(center top, #78B3BF 0, #58939F 5px);}
.global .header .planet-carrousel .items {width:900px;height:100px;overflow:hidden;margin:0 auto;}
.global .header .planet-carrousel div.planet {color:#000;height:100px;width:100px;float:left;}
.global .header .planet-carrousel .selected {background-color:#58939f;}
.global .header .planet-carrousel .selected * {color:#FFF;}
.global .header .planet-carrousel .planet a {color:#000;}
.global .header .planet-carrousel .planet img {border:0;margin:0;}
.global .header .planet-carrousel .planet a.moon img,.global .header .planet-carrousel .planet span.moon img {position:absolute;float:left;margin:0;border:1px solid #FFF;}
.global .header .planet-carrousel .planet .planet-name {text-align:center;margin:2px 5px}
.global .header .planet-carrousel .planet .planet-image {margin:0 25px;height:50px;}
.global .header .planet-carrousel .planet .planet-position {text-align:center;margin:2px 5px}

.global .header .resources-display-container {height:40px;background:#FFF;width:100%;margin-bottom:50px;border-bottom:1px solid #58939f;}
.global .header .resources-display {width:770px;height:40px;margin:0 auto;padding:0 50px;color:#000;}
.global .header .resources-display .resource,.global .header .resources-display .messages {height:22px;float:left;width:140px;margin:7px 0;}
.global .header .resources-display .resource img,.global .header .resources-display .messages img {float:left;}
.global .header .resources-display .resource p,.global .header .resources-display .messages p {font-weight:bold;font-size:12px;margin:2px 0 2px 47px;}
.global .header .resources-display .resource a,.global .header .resources-display .messages a {color:#000;text-decoration:underline;}
.global .header .resources-display .resource .resource-capped {color:red;}
.global .header .resources-display .messages {height:22px;float:left;width:150px;}
.global .header .resources-display .energy {width:200px;}

.global .content .message {width:740px;padding:10px 30px;margin:10px auto 0;background:#FFF;color:#000;border:10px solid #58939f;border-radius:10px;border-top-left-radius:30px;border-top-right-radius:30px;}
.global .content .message h1 {border-bottom:10px solid #58939f;height:30px;margin:10px;font-size:2.3em;}

.global .content .queue {width:740px;padding:10px 30px;margin:10px auto 0;background:#FFF;color:#000;border:10px solid #58939f;border-radius:10px;border-top-left-radius:30px;border-top-right-radius:30px;}
.global .content .queue h1 {border-bottom:10px solid #58939f;height:30px;margin:10px;font-size:2.3em;}

.global .content .queue .item {width:580px;margin:0 10px;border:0;box-shadow:none;border-radius:0;}
.global .content .queue .item,.global .content .queue .item * {color:#000;}

.global .content .item-list {width:740px;padding:10px 30px;margin:10px auto 0;background:#FFF;color:#000;border:10px solid #58939f;border-radius:10px;border-top-left-radius:30px;border-top-right-radius:30px;}
.global .content .item-list h1 {border-bottom:10px solid #58939f;height:30px;margin:10px;font-size:2.3em;}
.global .content .item-list .item-container {width:220px;float:left;margin:10px;height:250px;border:3px solid #58939f;}
.global .content .item-list.countable .item-container {height:290px;}
.global .content .item-list .title {height:60px;}
.global .content .item-list .item {width:200px;margin:0 10px;border:0;box-shadow:none;border-radius:0;}
.global .content .item-list .item h2,.global .content .item-list .item h3 {text-decoration:none;}
.global .content .item-list .item h2 {margin-bottom:0;}
.global .content .item-list .item h3.class {margin-top:0;margin-bottom:0;font-size:1em;font-weight:bold;}
.global .content .item-list .item h3.level,.global .content .item-list .item h3.count {margin-top:0;}
.global .content .item-list .item h2,.global .content .item-list .item h2 * {font-size:1.2em;}
.global .content .item-list .item h3.level,.global .content .item-list .item h3.count {font-size:1em;color:#58939f;font-weight:bold;}
.global .content .item-list .item .image {margin:0 auto;width:120px;display:block;overflow:hidden;border:1px solid #58939f;}
.global .content .item-list .item .image img {margin:0;border:none;}
.global .content .item-list .item,.global .content .item-list .item * {color:#000;}
.global .content .item-list .item .buy,.global .content .item-list .item .max,.global .content .item-list .item .qty {border:1px solid #000;border-radius:3px;height:20px;margin:20px 10px;background:#666;cursor:pointer;}
.global .content .item-list .item .buy p,.global .content .item-list .item .buy p *,.global .content .item-list .item .max p,.global .content .item-list .item .max p * {margin:4px 0;text-align:center;font-size:1em;color:#FFF;text-decoration:none;}
.global .content .item-list .item .buy:hover,.global .content .item-list .item .buy.hover,.global .content .item-list .item .max:hover,.global .content .item-list .item .max.hover,.global .content .item-list .item .qty:hover,.global .content .item-list .item .qty.hover {background-color:#58939f;}
.global .content .item-list .item .unavailable,.global .content .item-list .item .unavailable:hover {background:#933;border-color:#D00;}
.global .content .item-list .item .unavailable p {color:#CCC;}
.global .content .item-list .item .qty p {margin:0 auto;}
.global .content .item-list .item .qty p input {border:none;height:20px;margin:0 10px;color:#FFF;padding:0 10px;width:158px;text-align:center;font-weight:bold;font-size:1.1em;}
.global .content .item-list .item .details {padding:5px 10px;border-radius:5px;width:300px;background:#FFF;z-index:999;display:none;position:relative;left:-30px;top:-10px;border:3px solid #58939f;border-left-width:15px;}
.global .content .item-list .item .details ul {list-style:square inside;color:#58939f;padding-left:5px;}
.global .content .item-list .item .details ul li .cost {font-weight:bold;color:darkgreen;}
.global .content .item-list .item .details ul li .requirement {font-weight:bold;text-decoration:underline;}
.global .content .item-list .item .details ul li .capped {color:darkred;}
.global .content .item-list .item .details .time {color:gray;}
.global .content .item-list .clear {clear:left;height:50px;}
.global .content .item-list input[type=submit] {margin:30px 220px 0;width:300px;height:45px;background:#F7A90F;border-radius:10px;font-weight:bold;font-family:Arial,sans-serif;font-variant:small-caps;font-style:oblique;border:2px solid #263D43;box-shadow:0 -8px 10px #D5640E inset, 0 2px 7px #58939F;color:#08335B;font-size:2em;text-align:center;}

.global .content form.form {background:#FFF;width:300px;margin:10px auto;padding:10px 0;border-radius:20px;box-shadow:0 -4px 8px #58939f inset, 20px 20px 40px #58939f, -20px 20px 40px #58939f, 0 -20px 40px #58939f;}
.global .content form.form h1 {font-size:2em;}
.global .content form.form fieldset {margin:20px 30px;width:220px;border:1px solid #000;padding:4px 9px;}
.global .content form.form fieldset legend {font-size:1.2em;font-weight:bold;}
.global .content form.form fieldset p label {width:100px;display:block;float:left;margin:0 10px;text-align:right;}
.global .content form.form input {width:150px;display:block;margin:10px auto;}
.global .content form.form fieldset p input {width:100px;display:block;}

.global .content .install {background:#FFF;width:600px;margin:10px auto;padding:20px;border-radius:20px;box-shadow:0 -4px 8px #58939f inset, 20px 20px 40px #58939f, -20px 20px 40px #58939f, 0 -20px 40px #58939f;}

/**
 * Overview
 */

.overview .global .container {width:740px;padding:10px 30px;margin:10px auto 0;background:#FFF;color:#000;border:10px solid #58939f;border-radius:10px;border-top-left-radius:30px;border-top-right-radius:30px;}
.overview .global .container h1 {border-bottom:10px solid #58939f;height:30px;margin:10px 10px 30px;font-size:2.3em;}
.overview .global .container .clear {clear:left;height:50px;}
.overview .global .container .item-container h2 {text-decoration:none;margin-bottom:0;font-size:1.3em;}
.overview .global .container .item-container h3 {text-decoration:none;margin-top:0;font-size:1em;color:#58939f;font-weight:bold;}
.overview .global .container .item-container {padding:10px;margin:10px;border:3px solid #58939f;background-color:#EFEFEF;border-radius:15px 3px 15px 3px;}

.overview .global .container .left {width:250px;float:left;}
.overview .global .container .content {margin-left:250px;width:490px;}
.overview .global .container .left .item-container {width:200px;}
.overview .global .container .content .item-container {width:440px;}

/**
 * Public pages
 */
body.public-form {width:100%;height:100%;}
body.public-form .main-form {display:block;margin:0 auto;padding:0;width:300px;border-radius:5px;background:rgba(255,255,255,.8);border:5px solid #58939f;background-image:-moz-linear-gradient(top,#AAA 0,#FFF 100%);background-image:linear-gradient(top,#AAA 0,#FFF 100%);}
body.public-form #login-form {height:230px;}
body.public-form #lost-password-form {height:170px;}
body.public-form #register-form {height:390px;}
body.public-form .main-form fieldset {border:none;margin:0;padding:0;}
body.public-form #login-form fieldset legend,
body.public-form #lost-password-form fieldset legend {display:block;width:280px;height:30px;background:#58939f;color:#FFF;font-weight:bold;font-size:2em;padding:0 10px;margin-bottom:10px;}
body.public-form #register-form h1 {display:block;width:280px;height:30px;background:#58939f;color:#FFF;font-weight:bold;font-size:2em;padding:0 10px;margin:0 0 10px;}
body.public-form #register-form fieldset legend {display:block;width:280px;height:15px;font-weight:bold;font-size:1.5em;padding:0 10px;margin:10px 0 5px;}
body.public-form .main-form input[type="button"],
body.public-form .main-form input[type="text"],
body.public-form .main-form input[type="password"] {border-width:1px;}
body.public-form .main-form p.form {margin:0;padding:0;height:30px;width:300px;float:left;}
body.public-form .main-form p.lost-password {margin:0;padding:0;height:30px;width:300px;float:left;text-align:center;}
body.public-form .main-form p.form label {margin:0;padding:0 10px;text-align:right;width:150px;height:30px;float:left;display:block;}
body.public-form .main-form p.form input {margin:0;padding:0;width:120px;}
body.public-form .main-form p.checkbox input {margin:0;padding:0;width:20px;}
body.public-form .main-form p.submit input {margin:0 100px;padding:0;text-align:center;}
body.public-form #lost-password-form p.submit input {margin:0 75px;}

body.public .content .public-topbar {background:#FFF;border-bottom:5px solid #000;margin:0;height:30px;padding:0 10px;width:100%;background:rgba(0,0,0,.1);}
body.public .content .public-topbar .container {margin:0 auto;width:780px;}
body.public .content .public-topbar .container span {height:25px;padding:5px 15px 0;display:block;float:left;height:25px;margin:0 5px;font-size:1.5em;font-weight:bold;}
body.public .content .public-topbar .container span:hover {background:rgba(94,175,239,0.3);border-radius:8px;}
body.public .content .public-topbar .container span a:hover {color:#000;}

body.public-form .content .public-topbar {margin-bottom:150px;}

body.public-form .main-form p.form input[type=submit],
button.register {height:45px;background:#F7A90F;border-radius:10px;font-weight:bold;font-family:Arial,sans-serif;font-variant:small-caps;font-style:oblique;border:2px solid #263D43;box-shadow:0 -8px 10px #D5640E inset, 0 2px 7px #58939F;color:#08335B;font-size:2em;text-align:center;}
button.register {margin:25px;margin-left:345px;width:400px;}
body.public-form .main-form p.form input[type=submit] {margin:10px 50px;width:200px;padding:5px 20px;}

.global .content .home-block {width:740px;padding:10px 30px;margin:10px auto 0;background-color:rgba(255,255,255,.1);color:#FFF;border:10px solid rgba(88,147,159,.1);border-radius:10px;border-top-left-radius:30px;border-top-right-radius:30px;}

/**
 * Galaxy user name display colors
 */
.allymember {color:lime;}
.noob {color:darkgreen;}
.strong {color:darkred;}
.vacation {color:lightblue;}
.inactive {color:grey;}
.longinactive {color:darkgrey;}
.banned {color:red;text-decoration:line-through;}
